<% provide(:title, 'About Us') %>
<h1>About Us</h1>
	<p>The  <a href="http://railstutorial.org/help">Ruby on Rails Tutorial</a> is a project to make book and screencasts to teach web development with <a href="http://railstutorial.org/book">Rails Tutorail</a>. This is the sample application for the tutorial.</p>
    
<!-- Google Analytics Code -->
<script src="js/analytics.js" type="text/javascript"></script>
